<header class="header {{#if home}}home-header{{else}}standard-header{{/if}}">
  <div class="container top-nav-container">
    <a href="/">
      <img src="/assets/cwitc_logo.png" alt="Central Wisconsin IT Conference"/>
    </a>

    {{> nav }}
  </div>

  {{#if home}}
    <div class="container cta">
      <div class="row">
        <h1 class="col-12">{{ siteName }}</h1>
        <h3 class="col-lg-3 offset-lg-3 col-xs-12 d-lg-flex justify-content-lg-end">{{moment conferenceDate 'LL'}}</h3>
        <h3 class="col-lg-3 col-xs-12 d-lg-flex justify-content-lg-start">{{moment conferenceStartTime 'LT'}} - {{moment conferenceEndTime 'LT'}}</h3>
        <p class="col-12">{{registrationComingSoonText}}</p>
      </div>
    </div>

    {{!-- Adds Edge to backgroud image --}}
    <svg viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon stroke-width="0" points="0,10 10,0, 10,10" />
    </svg>
  {{/if}}
</header>